beautifulsoup4==4.7.1
chardet==3.0.4
click==6.7
docopt==0.6.2
Flask==0.12.2
Flask-API==1.0
idna==2.6
itsdangerous==0.24
Jinja2==2.11.3
lxml==4.1.1
MarkupSafe==1.0
pipreqs==0.4.9
recordtype==1.1
requests==2.18.4
uritools==2.1.0
urllib3==1.22
urlparse2==1.1.1
urlparse3==1.1
Werkzeug==0.14.1
yarg==0.1.9
pyspider
feedparser
python-firebase